.image__container{
 padding: 10px;
 display: flex;
 justify-content: center;
 overflow-x: auto;
}

.image__container--action{
 canvas:first-child{
  position: absolute;
 }
 canvas:last-child{
   opacity: 0.4;
 }
}

.stave__container{
 margin: 20px 0;
 overflow-x: auto;
 position: relative;
}
.stave__container--action{
 canvas:first-child{
  position: absolute;
 }
 canvas:last-child{
   opacity: 0.4;
 }
}

#detected, #original{
 border: 1px solid black;
 display: flex;
 justify-content: center;
 padding: 10px;
 margin: 20px 0;
}
