.notes{
 input[type="number"]{
  width: 50px;
 }
 .btn{
  width: 100px;
 }
 &__add{
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 &__item{
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
 }
 &__annotate{
  button{
    margin: 10px 0;
  }
 }
}

.note{
 margin: 5px 0;
}
