@import './canvas';
@import "./action";
@import "./content";
@import "./stave";

body{
 overflow: hidden;
 width: 100vw;
 height: 100vh;
}

#staves, #crop{
 position: absolute;
 height: 100%;
 width: 100%;
}

#image{
 max-width: 100%;
}

#sheet-form{
 height: 10vh;
}

#stave{
 z-index: 0;
}
#crop, #unstaved{
 left: 100%;
 z-index: 1;
 background-color: white;
}

#crop{
 #image-crop{
  max-width: 100%;
 }
}
