@import './symbolPreview';
@import './symbols';
@import './canvas';
@import "./actions";

#staves, #crop{
 position: relative;
 height: 90vh;
}

#image{
 max-width: 100%;
}

#sheet-form{
 height: 10vh;
}

#crop{
 display: none;
 #image-crop{
  max-width: 100%;
 }
}
