@import './symbolPreview';
@import './symbols';
@import './canvas';

#staves{
 position: relative;
 height: 90vh;
}

#image{
 max-width: 100%;
}

#sheet-form{
 height: 10vh;
}

#staves > div{
 display: none
}
